<div>
	<h1>About</h1><br>
	<p>This is an example page for the Jing static site generator.</p>

  <p>If you would like to learn more, please visit <a href="https://github.com/pachacamac/jing">the GitHub repository.</a></p>
</div>


